*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background-color: rgb(209, 204, 204);
}
.nav {
    position: absolute;
    z-index: 1;
}
.logo {
    width: 5%;
    margin: 20px 0 0 20px;
}
.logo a {
    text-decoration: none;
}
.logo img {
    width: 100%;
}
.main{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.grid {
    background-color: #fff;
    width: 400px;
    max-width: 80%;
    border-radius: 20px;
    padding: 20px 0; 
    box-shadow: 0 0 10px 2px;
    padding: 30px;
    line-height: 40px;
}
strong {
    font-weight: bold;
    font-size: 20px;
    color: rgb(73, 73, 152);
}
p {
    font-size: 20pxpx;
}

.btnQuiz {
    padding: 10px 10px;
    font-size: 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-right: 90px;
}